@model PasaElDato_v2.Models.puntaje_x_categoria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>puntaje_x_categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.categoria.categoria1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria.categoria1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puntaje.puntaje1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puntaje.puntaje1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
