@model PasaElDato_v2.Models.comentario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>comentario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.comentario1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puntaje_x_categoria.idpuntaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puntaje_x_categoria.idpuntaje)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idcomentario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
