@model IEnumerable<PasaElDato_v2.Models.direccion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.direccion1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comuna.comuna1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sucursal.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.direccion1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comuna.comuna1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sucursal.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.iddireccion }) |
            @Html.ActionLink("Details", "Details", new { id=item.iddireccion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.iddireccion })
        </td>
    </tr>
}

</table>
