@model IEnumerable<PasaElDato_v2.Models.sucursal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empresa.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empresa.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idsucursal }) |
            @Html.ActionLink("Details", "Details", new { id=item.idsucursal }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idsucursal })
        </td>
    </tr>
}

</table>
