@model IEnumerable<PasaElDato_v2.Models.servicio_motel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion_serviciomotel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion_serviciomotel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idserviciomotel }) |
            @Html.ActionLink("Details", "Details", new { id=item.idserviciomotel }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idserviciomotel })
        </td>
    </tr>
}

</table>
