@model PasaElDato_v2.Models.tipo_habitacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tipo_habitacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion_tipohabitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_tipohabitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.link)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idtipo_habitacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
