@model IEnumerable<PasaElDato_v2.Models.comuna>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.comuna1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.region.region1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.comuna1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.region.region1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idcomuna }) |
            @Html.ActionLink("Details", "Details", new { id=item.idcomuna }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idcomuna })
        </td>
    </tr>
}

</table>
